//variables.scss should go first
@import "/styles/variables.scss";
@import "/styles/body.scss";
@import "/styles/core.scss";
@import "/styles/footer.scss";
@import "/styles/header.scss";
@import "/styles/modal.scss";
@import "/styles/side-nav.scss";
@import "/styles/modal.scss";

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}
